In [1]:
import numpy as np
import pandas as pd

# Import date class from datetime module
from datetime import date, datetime

# Returns the current local date
today = date.today()

In [30]:
# read data

def read_invoices(data):
    invoices_data=pd.read_csv(data)
    return(invoices_data)

In [39]:
# def count_unique_rows():
#     # read invoices data
#     df=read_invoices()

#     # count number of unique rows
#     print(df['id'])

# count_unique_rows()

# read invoices data
df=read_invoices('../data/invoices.csv')

df

    id  organisation_id raised_date    due_date   paid_date  status  amount
0    1             1000  2019-10-10  2019-10-20  2019-10-15    PAID    1000
1    2             1000  2019-10-10  2019-10-20  2019-11-10    PAID    2000
2    3             1000  2019-10-10  2019-10-30         NaN  UNPAID    1500
3    4             1000  2019-10-10  2019-11-20         NaN  UNPAID    2000
4    5             1000  2019-10-10  2019-11-01  2019-11-05    PAID    3000
5    6             2000  2019-09-10  2019-10-10  2019-10-10    PAID    1000
6    7             2000  2019-09-10  2019-10-20  2019-10-30    PAID    2000
7    8             2000  2019-09-10  2019-11-10  2019-11-10    PAID    4000
8    9             2000  2019-09-10  2019-11-20         NaN  UNPAID    5000
9   10             2000  2019-09-10  2021-12-30         NaN  UNPAID    1000
10  11             2000  2019-09-10  2019-12-20  2019-09-20    PAID    2000

In [53]:
# count number of unique rows
df['id'].drop_duplicates().shape[0]

11

In [54]:
# number of unpaid invoices per organisation
# df['id'].drop_duplicates()
unpaid_invoices=df[df['status']=="UNPAID"]
unpaid_invoices.groupby("organisation_id").size()

organisation_id
1000    2
2000    2
dtype: int64

In [69]:
# number of overdue invoices per organisation

# convert to time series
df["todays_date"]=today
df["raised_date"]=pd.to_datetime(df["raised_date"])
df["due_date"]=pd.to_datetime(df["due_date"])
df["paid_date"]=pd.to_datetime(df["paid_date"])
df["todays_date"]=pd.to_datetime(df["todays_date"])
df.dtypes

# filter unpaid, due date less than todays date
unpaid_invoices=df[df['status']=="UNPAID"]
unpaid_invoices[unpaid_invoices['due_date']<unpaid_invoices["todays_date"]].groupby("organisation_id").size()

organisation_id
1000    2
2000    1
dtype: int64

In [82]:
# number of paid invoices per month per organisation

# convert to time series
df["todays_date"]=today
df["raised_date"]=pd.to_datetime(df["raised_date"])
df["due_date"]=pd.to_datetime(df["due_date"])
df["paid_date"]=pd.to_datetime(df["paid_date"])
df["todays_date"]=pd.to_datetime(df["todays_date"])
df.dtypes

# filter paid, get b/down per month per organisation
paid_invoices=df[df['status']=="PAID"]
paid_invoices['paid_month']=pd.DatetimeIndex(paid_invoices['paid_date']).month
paid_invoices.groupby(["organisation_id","paid_month"]).size()

<ipython-input-82-3c9b64592c91>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paid_invoices['paid_month']=pd.DatetimeIndex(paid_invoices['paid_date']).month

organisation_id  paid_month
1000             10            1
                 11            2
2000             9             1
                 10            2
                 11            1
dtype: int64